.globant {
  --bg-color: #eaf3a3; /* 200 */

  background-image:
      radial-gradient(
          circle at calc(11 * 8%) calc(2 * 8%),
          transparent 0%, transparent 10%,
          var(--bg-color) 10%, var(--bg-color) 11%,
          transparent 11%, transparent 15%,
          var(--bg-color) 15%, var(--bg-color) 19%,
          transparent 19%, transparent 32%,
          var(--bg-color) 32%, var(--bg-color) 35%,
          transparent 35%, transparent 42%,
          var(--bg-color) 42%
      ),
      url("/assets/globant_bg.png");
}

.disney {
  --bg-color: #bde6fa; /* 200 */

  background-image:
      radial-gradient(
          circle at calc(11 * 8%) calc(2 * 8%),
          transparent 0%, transparent 10%,
          var(--bg-color) 10%, var(--bg-color) 11%,
          transparent 11%, transparent 15%,
          var(--bg-color) 15%, var(--bg-color) 19%,
          transparent 19%, transparent 32%,
          var(--bg-color) 32%, var(--bg-color) 35%,
          transparent 35%, transparent 42%,
          var(--bg-color) 42%
      ),
      url('/assets/disney_bg.jpg');
}
