@tailwind base;

@layer base {
  * {
    scroll-behavior: smooth;
    scrollbar-color: theme('colors.brand.40') transparent;
    scrollbar-width: auto;
  }

  ::selection {
    background-color:theme('colors.brand.40');
    color: theme('colors.neutral.100');
  }
}
