@tailwind base;

@layer base {
  * {
    scroll-behavior: smooth;

    &::-webkit-scrollbar-track {
      background-color: transparent;
      padding: 2px;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: theme('colors.brand.40');
      border-radius: 10px;
    }
  }

  ::selection {
    background-color:theme('colors.brand.40');
    color: theme('colors.neutral.100');
  }
}
