---
import SectionHeader from "./SectionHeader.astro";
---

<section id="about" class="flex flex-col items-center gap-8">
  <SectionHeader icon="icon-[tabler--user-star]" title="Sobre mí" />
  <div class="flex flex-col md:flex-row items-center gap-8">
    <img
      class="aspect-square w-full min-w-[128px] max-w-[256px] rounded-full flex-grow flex-shrink-0"
      src="https://avatars.githubusercontent.com/u/4205975"
      alt="Thumbnail"
    />
    <div class="[&>p]:text-pretty flex flex-col gap-4">
      <p>
        Soy Kamilo Vasquez, un apasionado desarrollador de software con más de
        una década de experiencia desde 2010. Mi misión es crear soluciones
        tecnológicas innovadoras que impacten positivamente la vida de las
        personas.
      </p>
      <p>
        A lo largo de mi carrera, he colaborado con equipos internacionales en
        proyectos de gran envergadura, asumiendo roles clave en el desarrollo
        web. Mi versatilidad se extiende más allá del desarrollo web, abarcando
        también aplicaciones móviles y de escritorio. Mi enfoque autodidacta me
        impulsa constantemente a explorar nuevas tecnologías y estoy
        particularmente entusiasmado con el mundo de la Inteligencia Artificial.
      </p>
    </div>
  </div>
</section>
