---

---

<footer
  class="border-t border-t-border py-8 flex flex-col md:flex-row gap-4 items-center justify-between"
>
  <a
    href="#top"
    class="inline-flex gap-1 items-center text-sm text-muted-foreground"
  >
    <img src="/avatar.webp" alt="Avatar" class="size-8" />
    <span>Volver Arriba</span>
    <span class="icon-[tabler--arrow-narrow-up] animate-bounce size-4"></span>
  </a>
  <p class="text-sm text-muted-foreground inline-flex gap-1 items-center">
    <span>Hecho con</span>
    <span class="icon-[fluent-emoji--smiling-face-with-hearts] size-4"></span>
    <span class="sr-only">Amor</span>
    <span>y</span>
    <span class="icon-[fluent-emoji--hot-beverage] size-4"></span>
    <span class="sr-only">Café</span>
    <span>por</span>
    <span class="font-medium">@killoblanco</span>
  </p>
</footer>
