---
---

<footer
  class="flex flex-row items-center justify-center w-full"
>
  <p>
    Hecho con ❤️ & ☕ por
    <a
      class="decoration-dotted underline-offset-8 hover:decoration-dashed underline"
      href="https://www.linkedin.com/in/killoblanco/"
      target="_blank"
    >
      Kamilo Vasquez
    </a>
  </p>
</footer>
