---
import "@fontsource-variable/outfit";
import "@/ui/globals.css";

interface Props {
  title?: string;
}

let title = Astro.props?.title;

title = `${title ? title + " | " : ""}Kamilo Vasquez`;
---

<!doctype html>
<html lang="es-CO">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    /><meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="I'm Kamilo Vasquez, a passionate software developer with over a decade of experience since 2010. My mission is to create innovative technological solutions that positively impact people's lives. Throughout my career, I've collaborated with international teams on large-scale projects, taking on key roles in web development. My versatility extends beyond web development, also covering mobile and desktop applications. My self-taught approach constantly drives me to explore new technologies, and I'm particularly excited about the world of Artificial Intelligence."
    />
    <meta
      name="keywords"
      content="Software developer, Kamilo Vasquez, web development, mobile applications, desktop applications, innovative technologies, Artificial Intelligence, self-taught, international collaboration, software experience, large-scale projects"
    />
    <meta
      name="author"
      content="Kamilo Vasquez - https://github.com/killoblanco/killoblanco"
    />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-96 text-neutral-4 dark:bg-neutral-4 dark:text-neutral-96">
    <slot />
  </body>
</html>
