---
import Html from "@/layouts/Html.astro";
import Jumbo from "@/components/landing/Jumbo.astro";
import About from "@/components/landing/About.astro";
---

<Html>
	<main class="container mx-auto">
		<Jumbo />
		<About />
	</main>
</Html>
