---
import Html from "@/layouts/Html.astro";
import Jumbo from "@/components/landing/Jumbo.astro";
import About from "@/components/landing/About.astro";
import TopBar from "@/components/common/TopBar.astro";
import Footer from "@/components/common/Footer.astro";
import Skills from "@/components/landing/Skills.astro";
import Experience from "@/components/landing/Experience.astro";
---

<Html>
	<TopBar />
	<main class="container mx-auto px-8 flex flex-col gap-32">
		<Jumbo />
		<About />
		<Skills />
		<Experience />
		<Footer />
	</main>
</Html>
