---
import Html from "@/layouts/Html.astro";
import Jumbo from "@/components/landing/Jumbo.astro";
import About from "@/components/landing/About.astro";
import TopBar from "@/components/common/TopBar.astro";
---

<Html>
	<TopBar />
	<main class="container mx-auto px-8">
		<Jumbo />
		<About />
	</main>
</Html>
