---
import Chat from "./chat.astro";
import Games from "./games.astro";
import Webapps from "./webapps.astro";
---

<div class="grid md:grid-cols-3 gap-4">
  <Chat />
  <Games />
  <Webapps />
</div>
