---
import { Card } from "@/ui/elements/card";
---

<Card
  className="overflow-hidden relative p-0.5 border-none bg-gradient-to-br from-fuchsia-600 to-fuchsia-800"
>
  <a
    href="//games.kamilo.dev"
    class="grid grid-cols-[1fr_auto] grid-flow-col gap-4 items-center h-full p-4 rounded-lg"
  >
    <h3
      class="scroll-m-20 text-3xl md:text-4xl font-semibold tracking-tight col-span-2"
    >
      Juegos
    </h3>
    <span class="icon-[fluent-emoji--joystick] size-24 justify-self-center"
    ></span>
  </a>
</Card>
