---
import { useTranslation } from "@/i18n";

const { t } = useTranslation(Astro.url);
console.log(t("common.footer"));
---

<footer
  class="flex flex-row items-center justify-center py-10 bg-primary text-primary-content rounded-t-xl border-4 border-base-300 border-b-0 w-full max-w-screen-md mx-auto shadow-[0.5rem_-0.5rem_0_0_theme(colors.secondary)]"
>
  <p>
    {t("common.footer")}&nbsp;
    <a
      class="decoration-dotted underline-offset-4 hover:decoration-dashed"
      href="https://www.linkedin.com/in/killoblanco/"
      target="_about"
    >
      Kamilo Vasquez
    </a>
  </p>
</footer>
