<nav class="flex flex-row gap-16 mt-8">
  <a
    href="https://github.com/killoblanco"
    target="_about"
    class="btn btn-lg btn-circle btn-secondary"
  >
    <iconify-icon icon="tabler:brand-github" width="40" height="40"
    ></iconify-icon>
  </a>
  <a
    href="https://www.linkedin.com/in/killoblanco"
    target="_about"
    class="btn btn-lg btn-circle btn-secondary"
  >
    <iconify-icon icon="tabler:brand-linkedin" width="40" height="40"
    ></iconify-icon>
  </a>
  <a
    href="https://www.paypal.com/donate/?hosted_button_id=XPHPMQWVW2SWA"
    target="_donate"
    class="btn btn-lg btn-circle btn-secondary"
  >
    <iconify-icon icon="tabler:brand-paypal" width="40" height="40"
    ></iconify-icon>
  </a>
</nav>
