<label class="swap swap-rotate hover:bg-base-200 p-4 btn-circle">
  <input type="checkbox" id="theme-mode" value="dark" />
  <iconify-icon
    class="swap-on fill-current"
    icon="tabler:bulb"
    width="28"
    height="28"></iconify-icon>
  <iconify-icon
    class="swap-off fill-current"
    icon="tabler:bulb-off"
    width="28"
    height="28"></iconify-icon>
</label>
<script>
  import { useThemeMode } from "@/store/theme";

  const checkbox = document.getElementById("theme-mode") as HTMLInputElement;

  checkbox.addEventListener("load", () => {
    const { mode } = useThemeMode.getState();

    checkbox.checked = mode === "dark";
  });

  checkbox.addEventListener("change", () => {
    const { mode, toggle } = useThemeMode.getState();

    toggle();

    const body = document.querySelector("body") as HTMLBodyElement;
    body.dataset.theme = mode === "dark" ? "light" : "dark";
  });
</script>
