---
import ThemeController from "./ThemeController.astro";
---

<div class="navbar sticky top-0 px-6">
  <div class="flex-1"></div>
  <div class="flex-none gap-2">
    <ThemeController />
  </div>
</div>
