<svg fill="none" viewBox="0 0 64 64" width="64" height="64" xmlns="http://www.w3.org/2000/svg">
  <foreignObject height="100%" width="100%">
    <div>
      <style>
        #wave {
          font-size: 3em;
          transform: rotate(0deg);
          transform-origin: bottom right;
          animation: wave 500ms ease-in-out alternate infinite;
        }

        @keyframes wave {
          to { transform: rotate(-10deg); }
        }
      </style>
      <div id="wave">👋🏻</div>
    </div>
  </foreignObject>
</svg>
